node_modules
dist
.wrangler
.dev.vars

# Change them to your taste:
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb
DATABASE_URL="postgres://avnadmin:AVNS_9j8_lUPQe8NttD6_1RV@pg-11bae719-dhanya13md-1d2e.a.aivencloud.com:18610/defaultdb?sslmode=require"